@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo.css");
/* ***************  global *************** */
@font-face {
  font-family: "Apple SD Gothic Neo";
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Thin.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Apple SD Gothic Neo";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Light.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Apple SD Gothic Neo";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Bold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "tt-norms";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../img/font/TT_Norms_Pro_Regular.woff2") format("woff2");
}
@font-face {
  font-family: "CrimsonPro-Regular";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../img/font/CrimsonPro-Regular.woff2") format("woff2");
}
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Apple SD Gothic Neo", sans-serif;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
} /*  ie-mac \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
} /* ie-mac */
/* *********** other ********** */
.effect {
  background-color: #000;
  filter: Alpha(opacity=35);
  opacity: 0.3;
  -moz-opacity: 0.3;
}

summary {
  display: none;
}

/* link */
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

/* image */
img {
  border: 0;
  vertical-align: top;
}

dl, dt, dd, section, p, div, h2 {
  padding: 0;
  margin: 0;
}

/* list */
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

ol {
  padding-left: 24px;
}

/* area */
hr {
  display: none;
}

/* form */
form {
  margin: 0;
  padding: 0;
}

form label, label {
  height: 19px;
  color: #5E5E5E;
  cursor: default;
  font-size: 100%;
}

select {
  font-size: 100%;
  background: #fff;
  vertical-align: middle;
  height: 20px;
  letter-spacing: 0px;
}

legend {
  display: none;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

/* table */
table {
  margin: 0px;
  padding: 0px;
  border-spacing: 0;
}

td {
  margin: 0px;
  padding: 0px;
}

.notable {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  border-spacing: 0;
  border: 0 solid;
}

th {
  font-weight: normal;
}

/* h */
h1, h2, h3, h4, h5, h6, h7 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

strong, b {
  font-weight: normal;
}

.border {
  border: 1px solid !important;
}

body.sub-bgcolor {
  background-color: #E6E6E6;
}

nav.navigation-bar {
  position: fixed;
  width: 100%;
  top: -100px;
}
nav.navigation-bar a.menu-click-icon {
  position: absolute;
  right: 25px;
  top: 25px;
  width: 43px;
  height: 43px;
  background: url("../img/icons/menu_btn_open.svg") 0 0 no-repeat;
  background-size: 100% auto;
}

.top-nav {
  position: fixed;
  width: 100%;
  padding: 10px 10px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  transition: top 0.75s ease-in;
  z-index: 10;
  top: -75px;
}
.top-nav h1.logo {
  position: absolute;
  left: 25px;
  top: 25px;
  background: url("../img/icons/GNB_log_hotel_logo.svg") 0 0 no-repeat;
  background-size: 100% auto;
  width: 118px;
  height: 40px;
}
.top-nav div.nav-films {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9;
  /*
  &.active {
  	display: block;
  }
  	*/
}
.top-nav div.nav-films ul.gnbmenus {
  line-height: 45px;
  margin-top: 50%;
  margin-left: 25px;
}
.top-nav div.nav-films ul.gnbmenus li a {
  display: inline-block;
  font-size: 34px;
  text-decoration: none;
}
.top-nav div.nav-films ul.gnbmenus li a:link, .top-nav div.nav-films ul.gnbmenus li a:visited {
  color: #000;
}
.top-nav div.nav-films ul.gnbmenus li a:focus, .top-nav div.nav-films ul.gnbmenus li a:hover, .top-nav div.nav-films ul.gnbmenus li a:active {
  /*transform: scale(1.1) rotate(-2deg);
  color: #20232d*/
}
.top-nav .menu-icon {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
  display: inline-block;
  padding: 22px 11px;
  z-index: 10;
  background: #000;
  border-radius: 10px;
}
.top-nav .menu-icon .navicon {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  width: 1.625rem;
}
.top-nav .menu-icon .navicon:before, .top-nav .menu-icon .navicon:after {
  background: #fff;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.top-nav .menu-icon .navicon:before {
  top: 7px;
}
.top-nav .menu-icon .navicon:after {
  top: -7px;
}
.top-nav .menu-btn {
  display: none;
}
.top-nav .menu-btn:checked ~ .menu {
  max-height: 300px;
}
.top-nav .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
.top-nav .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
.top-nav .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
.top-nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before, .top-nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

section.main-header div.scroll-wrapper {
  height: 200vh;
}
section.main-header div.video-intro {
  align-items: end;
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100vh;
  justify-content: start;
  overflow: hidden;
  position: sticky;
  top: 0;
  /*width: 100vw;*/
}
section.main-header div.video-intro div.media {
  background-color: #9cabb2;
  height: 100vh;
  -webkit-mask-composite: source-over;
  mask-composite: add;
  -webkit-mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 330 183'%3E%3C!-- Generator: Adobe Illustrator 29.5.1, SVG Export Plug-In . SVG Version: 2.1.0 Build 141) --%3E%3Cdefs%3E%3Cstyle%3E .st0 %7B fill: %234e4e4e; %7D %3C/style%3E%3C/defs%3E%3Cpath class='st0' d='M301.27,44.59s.02.06.03.09h-13.29v22.19h12.96c-4.46,10.34-14.75,17.59-26.74,17.59-16.08,0-29.12-13.04-29.12-29.12s13.04-29.12,29.12-29.12c8.07,0,15.34,3.29,20.61,8.6l18.57-18.57C303.39,6.21,289.53,0,274.23,0,243.67,0,218.89,24.78,218.89,55.33s24.78,55.33,55.33,55.33,55.33-24.78,55.33-55.33c0-3.68-.37-7.27-1.05-10.75h-27.24Z'/%3E%3Cpath class='st0' d='M65.85,108.08h26.42v-26.41H26.37V2.62H0v39.5c0,36.44,29.48,65.96,65.85,65.96Z'/%3E%3Cpath class='st0' d='M154.96.01C124.4.01,99.63,24.79,99.63,55.34s24.78,55.33,55.33,55.33,55.33-24.78,55.33-55.33S185.52.01,154.96.01ZM154.96,84.46c-16.08,0-29.12-13.04-29.12-29.12s13.04-29.12,29.12-29.12,29.12,13.04,29.12,29.12-13.04,29.12-29.12,29.12Z'/%3E%3Cpath class='st0' d='M249.15,146.79c-9.79,0-17.73,7.93-17.73,17.73s7.93,17.73,17.73,17.73,17.73-7.93,17.73-17.73-7.93-17.73-17.73-17.73ZM249.15,173.85c-5.15,0-9.33-4.18-9.33-9.33s4.18-9.33,9.33-9.33,9.33,4.18,9.33,9.33-4.18,9.33-9.33,9.33Z'/%3E%3Cpath class='st0' d='M190.38,161.08s0,.02.01.02h-4.26v7.11h4.16c-1.43,3.32-4.73,5.64-8.57,5.64-5.15,0-9.33-4.18-9.33-9.33s4.18-9.33,9.33-9.33c2.59,0,4.92,1.06,6.6,2.75l5.94-5.95c-3.21-3.22-7.65-5.21-12.55-5.21-9.79,0-17.73,7.93-17.73,17.73s7.93,17.73,17.73,17.73,17.73-7.93,17.73-17.73c0-1.18-.12-2.33-.34-3.45h-8.73.01Z'/%3E%3Cpath class='st0' d='M224.1,168.77c.94-.73,1.76-1.59,2.44-2.56.67-.97,1.21-2.03,1.58-3.17.38-1.14.56-2.35.56-3.61,0-1.65-.31-3.21-.93-4.63-.62-1.43-1.47-2.67-2.54-3.74-1.07-1.05-2.33-1.89-3.75-2.51-1.43-.62-2.97-.93-4.59-.93h-14.2v33.78h8.33v-10.18h1.07l8.72,10.18h10.28l-9.54-11.13c.91-.4,1.77-.91,2.55-1.52v.02ZM220.06,159.44c0,.61-.12,1.17-.34,1.7-.23.53-.55,1.01-.95,1.41-.4.4-.87.72-1.4.95-.53.23-1.1.34-1.7.34h-4.65v-8.83h4.65c.6,0,1.17.12,1.7.34.53.23,1.01.55,1.42.95.4.4.72.87.95,1.42.23.53.34,1.1.34,1.7h-.01Z'/%3E%3Cpath class='st0' d='M289.84,168.33c0,.86-.14,1.68-.43,2.41-.29.73-.67,1.39-1.17,1.96-.49.55-1.08.99-1.77,1.3-.7.31-1.46.46-2.29.46s-1.65-.15-2.34-.46c-.7-.31-1.29-.75-1.79-1.3-.51-.56-.9-1.22-1.16-1.95s-.41-1.54-.41-2.41v-20.7h-8.42v20.51c0,2.23.38,4.26,1.13,5.99.75,1.75,1.77,3.23,3.05,4.42,1.27,1.19,2.79,2.11,4.49,2.75,1.7.63,3.54.95,5.45.95s3.79-.34,5.48-1.01c1.69-.66,3.19-1.62,4.46-2.84,1.27-1.23,2.29-2.73,3.02-4.46.73-1.74,1.11-3.69,1.11-5.8v-20.51h-8.42v20.7h.02Z'/%3E%3Cpath class='st0' d='M329.03,155.06c-.65-1.47-1.54-2.77-2.63-3.87-1.11-1.09-2.4-1.98-3.87-2.61-1.47-.63-3.06-.95-4.71-.95h-15.34v33.78h8.33v-9.38h7.01c1.68,0,3.28-.33,4.75-.97,1.47-.64,2.77-1.53,3.87-2.63,1.11-1.1,1.98-2.41,2.61-3.9.63-1.49.95-3.07.95-4.73s-.33-3.28-.97-4.75h0ZM310.82,155.01h5.74c.66,0,1.29.12,1.87.37.58.24,1.09.6,1.52,1.03s.77.95,1.03,1.52c.24.57.36,1.2.36,1.87s-.12,1.29-.36,1.87c-.24.57-.59,1.09-1.03,1.52-.43.43-.95.79-1.54,1.05-.57.25-1.2.39-1.87.39h-5.74v-9.63h.01Z'/%3E%3Cpath class='st0' d='M49.23,146.79c-9.79,0-17.73,7.93-17.73,17.73s7.93,17.73,17.73,17.73,17.73-7.93,17.73-17.73-7.93-17.73-17.73-17.73ZM49.23,173.85c-5.15,0-9.33-4.18-9.33-9.33s4.18-9.33,9.33-9.33,9.33,4.18,9.33,9.33-4.18,9.33-9.33,9.33Z'/%3E%3Cpath class='st0' d='M19.57,160.83h-11.24v-13.2H0v33.78h8.33v-13.2h11.24v13.2h8.33v-33.78h-8.33v13.2Z'/%3E%3Cpath class='st0' d='M69.22,155.08h10.09v26.4h8.33v-26.4h10.09v-7.38h-28.51v7.38Z'/%3E%3Cpath class='st0' d='M124.62,155.01v-7.38h-22.67v33.78h22.67v-7.39h-14.18v-5.8h12.66v-7.39h-12.66v-5.81h14.18Z'/%3E%3Cpath class='st0' d='M137.22,173.04v-25.34h-8.33v33.78h21.75v-8.38l-13.42-.07Z'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 330 183'%3E%3C!-- Generator: Adobe Illustrator 29.5.1, SVG Export Plug-In . SVG Version: 2.1.0 Build 141) --%3E%3Cdefs%3E%3Cstyle%3E .st0 %7B fill: %234e4e4e; %7D %3C/style%3E%3C/defs%3E%3Cpath class='st0' d='M301.27,44.59s.02.06.03.09h-13.29v22.19h12.96c-4.46,10.34-14.75,17.59-26.74,17.59-16.08,0-29.12-13.04-29.12-29.12s13.04-29.12,29.12-29.12c8.07,0,15.34,3.29,20.61,8.6l18.57-18.57C303.39,6.21,289.53,0,274.23,0,243.67,0,218.89,24.78,218.89,55.33s24.78,55.33,55.33,55.33,55.33-24.78,55.33-55.33c0-3.68-.37-7.27-1.05-10.75h-27.24Z'/%3E%3Cpath class='st0' d='M65.85,108.08h26.42v-26.41H26.37V2.62H0v39.5c0,36.44,29.48,65.96,65.85,65.96Z'/%3E%3Cpath class='st0' d='M154.96.01C124.4.01,99.63,24.79,99.63,55.34s24.78,55.33,55.33,55.33,55.33-24.78,55.33-55.33S185.52.01,154.96.01ZM154.96,84.46c-16.08,0-29.12-13.04-29.12-29.12s13.04-29.12,29.12-29.12,29.12,13.04,29.12,29.12-13.04,29.12-29.12,29.12Z'/%3E%3Cpath class='st0' d='M249.15,146.79c-9.79,0-17.73,7.93-17.73,17.73s7.93,17.73,17.73,17.73,17.73-7.93,17.73-17.73-7.93-17.73-17.73-17.73ZM249.15,173.85c-5.15,0-9.33-4.18-9.33-9.33s4.18-9.33,9.33-9.33,9.33,4.18,9.33,9.33-4.18,9.33-9.33,9.33Z'/%3E%3Cpath class='st0' d='M190.38,161.08s0,.02.01.02h-4.26v7.11h4.16c-1.43,3.32-4.73,5.64-8.57,5.64-5.15,0-9.33-4.18-9.33-9.33s4.18-9.33,9.33-9.33c2.59,0,4.92,1.06,6.6,2.75l5.94-5.95c-3.21-3.22-7.65-5.21-12.55-5.21-9.79,0-17.73,7.93-17.73,17.73s7.93,17.73,17.73,17.73,17.73-7.93,17.73-17.73c0-1.18-.12-2.33-.34-3.45h-8.73.01Z'/%3E%3Cpath class='st0' d='M224.1,168.77c.94-.73,1.76-1.59,2.44-2.56.67-.97,1.21-2.03,1.58-3.17.38-1.14.56-2.35.56-3.61,0-1.65-.31-3.21-.93-4.63-.62-1.43-1.47-2.67-2.54-3.74-1.07-1.05-2.33-1.89-3.75-2.51-1.43-.62-2.97-.93-4.59-.93h-14.2v33.78h8.33v-10.18h1.07l8.72,10.18h10.28l-9.54-11.13c.91-.4,1.77-.91,2.55-1.52v.02ZM220.06,159.44c0,.61-.12,1.17-.34,1.7-.23.53-.55,1.01-.95,1.41-.4.4-.87.72-1.4.95-.53.23-1.1.34-1.7.34h-4.65v-8.83h4.65c.6,0,1.17.12,1.7.34.53.23,1.01.55,1.42.95.4.4.72.87.95,1.42.23.53.34,1.1.34,1.7h-.01Z'/%3E%3Cpath class='st0' d='M289.84,168.33c0,.86-.14,1.68-.43,2.41-.29.73-.67,1.39-1.17,1.96-.49.55-1.08.99-1.77,1.3-.7.31-1.46.46-2.29.46s-1.65-.15-2.34-.46c-.7-.31-1.29-.75-1.79-1.3-.51-.56-.9-1.22-1.16-1.95s-.41-1.54-.41-2.41v-20.7h-8.42v20.51c0,2.23.38,4.26,1.13,5.99.75,1.75,1.77,3.23,3.05,4.42,1.27,1.19,2.79,2.11,4.49,2.75,1.7.63,3.54.95,5.45.95s3.79-.34,5.48-1.01c1.69-.66,3.19-1.62,4.46-2.84,1.27-1.23,2.29-2.73,3.02-4.46.73-1.74,1.11-3.69,1.11-5.8v-20.51h-8.42v20.7h.02Z'/%3E%3Cpath class='st0' d='M329.03,155.06c-.65-1.47-1.54-2.77-2.63-3.87-1.11-1.09-2.4-1.98-3.87-2.61-1.47-.63-3.06-.95-4.71-.95h-15.34v33.78h8.33v-9.38h7.01c1.68,0,3.28-.33,4.75-.97,1.47-.64,2.77-1.53,3.87-2.63,1.11-1.1,1.98-2.41,2.61-3.9.63-1.49.95-3.07.95-4.73s-.33-3.28-.97-4.75h0ZM310.82,155.01h5.74c.66,0,1.29.12,1.87.37.58.24,1.09.6,1.52,1.03s.77.95,1.03,1.52c.24.57.36,1.2.36,1.87s-.12,1.29-.36,1.87c-.24.57-.59,1.09-1.03,1.52-.43.43-.95.79-1.54,1.05-.57.25-1.2.39-1.87.39h-5.74v-9.63h.01Z'/%3E%3Cpath class='st0' d='M49.23,146.79c-9.79,0-17.73,7.93-17.73,17.73s7.93,17.73,17.73,17.73,17.73-7.93,17.73-17.73-7.93-17.73-17.73-17.73ZM49.23,173.85c-5.15,0-9.33-4.18-9.33-9.33s4.18-9.33,9.33-9.33,9.33,4.18,9.33,9.33-4.18,9.33-9.33,9.33Z'/%3E%3Cpath class='st0' d='M19.57,160.83h-11.24v-13.2H0v33.78h8.33v-13.2h11.24v13.2h8.33v-33.78h-8.33v13.2Z'/%3E%3Cpath class='st0' d='M69.22,155.08h10.09v26.4h8.33v-26.4h10.09v-7.38h-28.51v7.38Z'/%3E%3Cpath class='st0' d='M124.62,155.01v-7.38h-22.67v33.78h22.67v-7.39h-14.18v-5.8h12.66v-7.39h-12.66v-5.81h14.18Z'/%3E%3Cpath class='st0' d='M137.22,173.04v-25.34h-8.33v33.78h21.75v-8.38l-13.42-.07Z'/%3E%3C/svg%3E");
  -webkit-mask-position: 48.1% 50%;
  mask-position: 48.1% 50%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 88.6667vw;
  mask-size: 88.6667vw;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  transform-origin: bottom left;
  width: 100vw;
  z-index: 1;
}
section.main-header div.video-intro div.media video {
  height: 120vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom center;
     object-position: bottom center;
  width: 100%;
}
section.main-header div.video-intro div.bottom {
  align-items: flex-end;
  display: grid;
  grid-template-columns: auto auto;
  padding-bottom: 40px;
  padding-left: 25px;
  padding-right: 25px;
  position: relative;
  z-index: 0;
}
section.main-header div.video-intro div.bottom ul {
  align-items: center;
  -moz-column-gap: 120px;
       column-gap: 120px;
  display: inline-flex;
  justify-content: flex-end;
  position: relative;
  width: auto;
}
section.main-header div.video-intro div.bottom ul li {
  margin-bottom: 0;
}
section.main-header div.video-intro div.bottom ul a {
  color: #072c3e;
  display: block;
  font-size: 0.625rem;
  font-weight: 500;
  letter-spacing: -0.15px;
  position: relative;
  transition: color 0.2s cubic-bezier(0.33, 1, 0.68, 1) 0.3s;
}
section.main-header div.video-intro div.bottom p.txt-main-bottom {
  font-family: "tt-norms";
  font-size: 27px;
  color: #fff;
}
@media (max-width: 800px) {
  section.main-header div.video-intro div.bottom p.txt-main-bottom {
    color: #070707;
  }
}
section.main-header div.text-intro {
  padding-bottom: 80px;
}
section.main-header div.text-intro div.callout {
  margin-left: 56.6667vw;
  margin-top: 64px;
  width: 31.1111vw;
}

section.main-section-1 {
  padding: 100px 25px;
}
section.main-section-1 p.txt-main-1 {
  font-family: "tt-norms";
  font-size: 17px;
}
section.main-section-1 p.txt-main-2 {
  font-size: 13px;
  line-height: 20px;
  padding: 20px 0 10px 0;
}
section.main-section-1 a.experience-link {
  font-family: "tt-norms";
  font-size: 13px;
  color: #000;
  background: url("../img/icons/main_arrow_go.svg") 100% 50% no-repeat;
  background-size: 24px auto;
  padding: 10px 35px 10px 0;
  line-height: 40px;
}

section.main-section-2 {
  padding: 0px 25px 100px 25px;
}
section.main-section-2 div.main-card-section1 {
  position: relative;
}
section.main-section-2 div.main-card-section1 div.our-brand-swiper img {
  width: 100%;
}
section.main-section-2 div.main-card-section1 p.card-txt-1 {
  position: absolute;
  left: 20px;
  top: 20px;
  color: #fff;
  z-index: 1;
  font-size: 12px;
}
section.main-section-2 div.main-card-section1 div.card-txt-area {
  position: absolute;
  width: 90%;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0%);
  border-top: 1px solid rgba(200, 200, 200, 0.5);
  padding: 25px 0;
}
section.main-section-2 div.main-card-section1 div.card-txt-area p.inner-txt-1 {
  font-size: 28px;
  color: #fff;
  line-height: 31px;
  padding-bottom: 15px;
}
section.main-section-2 div.main-card-section1 div.card-txt-area p.inner-txt-2 {
  font-size: 12px;
  color: #fff;
  line-height: 21px;
}
section.main-section-2 div.main-card-section1 div.drip-drop-logo {
  position: absolute;
  width: 175px;
  height: 175px;
  background: url("../img/icons/main_drip_logo.svg") 50% 50% no-repeat;
  background-size: cover;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
section.main-section-2 div.main-card-section1 div.water-house-logo {
  position: absolute;
  width: 256px;
  height: 18px;
  background: url("../img/icons/main_thewaterhouse_logo.svg") 50% 50% no-repeat;
  background-size: cover;
  left: 50%;
  top: 47%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
section.main-section-2 div.main-card-section1.water-house {
  margin-top: 100px;
}

section.brand-section {
  padding: 110px 25px 0 25px;
}
section.brand-section a.back-to-brand {
  display: inline-block;
  padding: 5px 0 5px 25px;
  background: url("../img/icons/Back_to_Brand_arrow.svg") 0% 50% no-repeat;
  background-size: 16px auto;
  font-family: "tt-norms";
  font-size: 12px;
  color: #444444;
}
section.brand-section div.brand-logo {
  height: 200px;
}
section.brand-section div.brand-logo.dripanddrop {
  background: url("../img/icons/Our_Brend_logo1.svg") 50% 50% no-repeat;
  background-size: 150px auto;
}
section.brand-section div.brand-logo.waterhouse {
  background: url("../img/icons/Our_Brend_logo2.svg") 50% 50% no-repeat;
  background-size: 260px auto;
}
section.brand-section div.brand-image {
  text-align: center;
  padding-bottom: 50px;
}
section.brand-section div.brand-image img {
  width: 100%;
}
section.brand-section div.brand-info {
  font-family: "tt-norms";
  padding: 10px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
section.brand-section div.brand-info .info-table {
  float: left;
  width: 50%;
  padding: 15px 0;
}
section.brand-section div.brand-info .info-table span.title {
  display: block;
  padding-bottom: 8px;
  font-size: 14px;
  color: #808080;
}
section.brand-section div.brand-info .info-table span.info {
  display: block;
  font-size: 15px;
  color: #54575C;
}
section.brand-section div.brand-info .info-table span.info a {
  color: #54575C;
}
section.brand-section div.brand-detail {
  padding: 40px 0;
  border-bottom: 1px solid #ccc;
  line-height: 21px;
}
section.brand-section div.brand-detail p.title {
  font-family: "tt-norms";
  font-size: 17px;
  color: #000;
  padding-bottom: 15px;
}
section.brand-section div.brand-detail p.content {
  font-size: 14px;
  color: #000;
}
section.brand-section div.brand-property {
  padding: 40px 0;
  line-height: 21px;
}
section.brand-section div.brand-property p.title {
  font-size: 17px;
  color: #000;
  padding-bottom: 15px;
}
section.brand-section div.brand-property ul.property-list li {
  font-size: 13px;
  padding: 2px 0 2px 13px;
  background: url("../img/icons/icon_property_round.svg") 0% 50% no-repeat;
  background-size: 4px auto;
}
section.brand-section div.brand-property ul.property-list li.one {
  background-position: 0% 27%;
}
section.brand-section div.brand-property ul.property-list li span.sub {
  color: #54575C;
}
section.brand-section div.brand-more {
  text-align: center;
  padding-bottom: 50px;
}
section.brand-section div.brand-more img {
  width: 100%;
}
section.brand-section div.brand-more div.see-next-wrap {
  font-family: "tt-norms";
  padding: 15px 0 0 0;
}
section.brand-section div.brand-more div.see-next-wrap a.see-next-brand {
  display: inline-block;
  padding: 5px 25px 5px 0px;
  background: url("../img/icons/See_Next_Brand_arrow.svg") 100% 50% no-repeat;
  background-size: 16px auto;
  font-size: 12px;
  color: #444444;
}

section.experience-section {
  padding: 145px 25px 0 25px;
}
section.experience-section p.experience-title {
  font-family: "CrimsonPro-Regular";
  font-size: 36px;
  line-height: 38px;
}
section.experience-section div.experience-list div.inner {
  position: relative;
  padding: 0 0 50px 0;
}
section.experience-section div.experience-list div.inner a.show-detail {
  position: absolute;
  width: 34px;
  height: 34px;
  right: 20px;
  top: 20px;
  background: #fff;
  z-index: 5;
  background: url("../img/icons/sub_open_btn.svg") 0 0 no-repeat;
  background-size: 100% auto;
}
section.experience-section div.experience-list div.inner a.show-detail.active {
  background: url("../img/icons/sub_close_btn.svg") 0 0 no-repeat;
  background-size: 100% auto;
}
section.experience-section div.experience-list div.inner div.image {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
}
section.experience-section div.experience-list div.inner div.image div.info-detail {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 4;
  transition: opacity 1s;
}
section.experience-section div.experience-list div.inner div.image div.info-detail.show {
  opacity: 1;
}
section.experience-section div.experience-list div.inner div.image div.info-detail table {
  position: absolute;
  width: 80%;
  left: 50%;
  bottom: 7%;
  color: #fff;
  font-size: 12px;
  text-align: left;
  transform: translate(-50%, 0%);
}
section.experience-section div.experience-list div.inner div.image div.info-detail table th {
  padding: 5px 0;
  width: 22%;
}
section.experience-section div.experience-list div.inner div.image div.info-detail table td {
  padding: 5px 0;
  width: 78%;
}
section.experience-section div.experience-list div.inner div.image img {
  width: 100%;
  aspect-ratio: 100/125; /* 너비:높이 비율 = 100:110 */
  -o-object-fit: cover;
     object-fit: cover;
}
section.experience-section div.experience-list div.inner div.category-wrap p {
  font-family: "tt-norms";
  font-size: 18px;
  padding: 15px 0;
}
section.experience-section div.experience-list div.inner div.category-wrap span.categorys {
  display: inline-block;
  background: #fff;
  margin-right: 5px;
  padding: 8px 10px;
  font-family: "tt-norms";
  font-size: 13px;
  border-radius: 6px;
}

section.etc-section {
  padding: 145px 25px 0 25px;
}
section.etc-section p.etc-title {
  font-family: "tt-norms";
  font-size: 27px;
  padding-bottom: 50px;
}
section.etc-section p.etc-text {
  font-size: 14px;
  line-height: 23px;
}
section.etc-section div.infos {
  font-size: 14px;
  margin-top: 30px;
}
section.etc-section div.infos p.up {
  color: #54575C;
  padding-bottom: 10px;
}
h2.h2-title {
  font-family: "tt-norms";
  font-size: 27px;
  padding: 50px 0 20px 0;
}

footer {
  position: relative;
  overflow: hidden;
  font-family: "tt-norms";
}
footer.common-footer {
  margin: 50px 0 0 0;
  border-radius: 30px 30px 0 0;
  padding: 70px 30px;
}
footer.common-footer div.footer-logo {
  background: url("../img/icons/footer_log_hotel_logo.svg") 0 0 no-repeat;
  background-size: 100% auto;
  width: 280px;
  height: 30px;
}
footer.common-footer ul {
  margin: 40px 0;
}
footer.common-footer ul li {
  line-height: 45px;
}
footer.common-footer ul li a {
  color: #fff;
  font-size: 21px;
}
footer.common-footer div.footer-privacy {
  color: #fff;
  padding: 0px 0 6px 0;
}
footer.common-footer div.footer-privacy a {
  color: #fff;
  font-size: 12px;
}
footer.common-footer p.copyright-footer {
  color: #fff;
  font-size: 13px;
}
footer .video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -2;
}
footer .film-footer-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  background: rgba(0, 0, 0, 0.5);
}

section.main-section-2 .swiper-button-next, section.main-section-2 .swiper-button-prev {
  position: absolute;
  width: 26px;
  height: 26px;
  margin-top: 15px;
  z-index: 10;
  cursor: pointer;
  display: inline-block;
  top: 100%;
  text-indent: -9999px;
}
section.main-section-2 a.brand-read-more {
  position: absolute;
  width: 50%;
  margin-top: 15px;
  z-index: 8;
  cursor: pointer;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
  color: #070707;
  text-decoration: underline;
  font-family: "tt-norms";
  font-size: 14px;
  padding-top: 5px;
}
section.main-section-2 .swiper-button-prev {
  left: 0;
  background: url("../img/icons/arrow_on_L.svg") 0 0 no-repeat;
  background-size: cover;
}
section.main-section-2 .swiper-button-next {
  right: 0;
  background: url("../img/icons/arrow_on_R.svg") 0 0 no-repeat;
  background-size: cover;
}
section.main-section-2 .swiper-slide {
  position: relative;
}

.custom-select-wrapper {
  position: relative;
  display: block;
  margin: 10px 0 50px 0;
  font-family: "tt-norms";
  font-size: 16px;
}
.custom-select-wrapper .custom-select {
  width: 100%;
  padding: 16px 18px;
  border-radius: 6px;
  cursor: pointer;
  background: #fff url("../img/icons/btn_drop_off.svg") 95% 50% no-repeat;
  background-size: 10px auto;
}
.custom-select-wrapper .custom-select.active {
  background: #fff url("../img/icons/btn_drop_on.svg") 95% 50% no-repeat;
  background-size: 10px auto;
}
.custom-select-wrapper .custom-options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border-top: none;
  background-color: #fff;
  z-index: 100;
  border-radius: 0 0 6px 6px;
  margin-top: -3px;
  padding: 0 0 20px 0;
}
.custom-select-wrapper .custom-options div {
  padding: 12px 18px;
  cursor: pointer;
  transition: background 0.2s;
}
.custom-select-wrapper .custom-options div:hover {
  background-color: #eee;
}/*# sourceMappingURL=style.css.map */